
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
  font-family: 'Montserrat', sans-serif;
} */

header{
display: flex;
justify-content: center;
width: 100%;
}

.lgo-cacheado{
width: 127px;
padding: 1rem;
}


.list-header{
display: flex;
justify-content: space-around;
width: 54%;
padding: 2rem;
}

.link-header{
width: 100%;
color: #9767A9;
opacity: 0.7;
text-decoration: none;
}
li:hover{
  /* opacity: 1; */
  font-weight: 900;
}

.header-li{
  font-size: 16px;
}

ul{
display: flex;
justify-content: space-around;
width: 93%;
list-style: none;
}

#divBusca{
border-radius:29px;
width:138px;
height: 29px;
border: 3px solid #9767A9;
/* border:solid 1px; */
}

#txtBusca::-webkit-input-placeholder{
color: #9767A9;
}

#txtBusca{
padding-left:5px;
font-style:italic;
font-size:10px;
border:none;
height:23px;
width:101px;
outline: none;
}

.lupa{
height: 17px;
float: left;
padding-top: 4px;
padding-left: 4px;
}

.redes-socias{
width: 14%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.logo-redes{
width: 33px;
}

.barra-buscar{
  display: flex;
  align-items: center;
}



.cabeludo{
background-image: url(img/cabeludo.png);
width: 100%;
height: 64vh;
/* background-size: contain; */
display: flex;
background-size: cover;
background-repeat: no-repeat;
font-family: ;
}

.title{
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: flex-end;
width: 34%;
}

h1{
width: 56%;
display: flex;
height: 84%;
justify-content: center;
align-items: center;
color: aliceblue;
font-size: 5rem;
font-family: ;
}

.sub-title{
display: flex;
width: 43%;
justify-content: flex-end;
align-items: center;
}

.subtitle-cabeludo{
display: flex;
width: 47%;
height: 30%;
align-items: center;
font-size: 2rem;
color: aliceblue;
justify-content: flex-end;
flex-direction: column;
}

main{
  width: 100%;
}

.fundo-roxo{
  display: flex;
  background: #9767A9;
  height: 35vh;
  justify-content: center;
}

.text-main{
  display: flex;
  width: 46%;
  font-size: 20px;
  justify-content: center;
  /* justify-content: center; */
  color: #FFFFFF;
  padding: 1rem;
}

.title-main{
  width: 98%;
  font-size: 3rem;
}

.paragraph-main{
  padding-top: 2rem;
  color: #FFFFFF;
  width: 45%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */

  
}

.paragraph-motivacional{
  font-size: 18px;
  width: 73%;
}

.espelho{
  position: relative;
  bottom: 127px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* height: 161vh; */
}

.conteudo-espelho{
  /* position: relative;
  bottom: 32px;
  left: 111px; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-espelho{
  display: flex;
  justify-content: flex-end;
  width: 82%;
}

.no-espelho{
  width: 88%;
  /* padding: 1rem; */
}

.text-espelho{
  background: #9767A9;
  width: 56%;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 80px;
  padding: 1rem;
  left: 33px;
  color: #FFFFFF;
}

.title-espelho{
  width: 87%;
  padding-bottom: 1rem;
  font-size: 2rem;

}

.paragraph-espelho{
  width: 100%;
  font-size: 14px;
}

.referencias{
  width: 50%;
  position: relative;
  top: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* right: 76px; */
  /* bottom: 124px; */
  /* height: 70vh; */
}

.img-referencias{
  display: flex;
  width: 82%;
  /* justify-content: center;
  align-items: center;
  position: relative;
  top: 124px; */
}

.referencias-img{
  width: 88%;
  display: flex;
}

.text-referencias{
  background: #9767A9;
  width: 58%;
  padding: 1rem;
  position: relative;
  bottom: 109px;
  right: 29px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;

  /* left: 171px; */
  /* top: 22px; */
}

.title-refe{
  width: 85%;
  font-size: 2rem;
}

.paragraph-refe{
  padding-top: 1rem;
}

.detalhes{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* left: 111px; */
  /* position: relative; */
}

.conteudo-detalhes{
  display: flex;
  justify-content: center;
  width: 82%;
}

.det{
  width: 88%;
}

.text-detalhe{
  background: #9767A9;
  color: #FFFFFF;
  position: relative;
  bottom: 106px;
  padding: 1rem;
  width: 49%;
  display: flex;
  flex-direction: column;
  /* left: 35px; */
  /* right: 9px; */
}

.title-detalhe{
  width: 78%;
  font-size: 2rem;
}

.opinioes{
  width: 50%;
  position: relative;
  top: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-opinioes{
  display: flex;
  width: 82%;
  /* justify-content: center;
  align-items: flex-end;
  height: 82vh;
  position: relative;
  left: 36px;
  bottom: 112px; */
}

.opn{
  width: 88%;
}

.text-opinioes{
  width: 52%;
  background: #9767A9;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  bottom: 20px;
  right: 26px;
  color: #FFFFFF;
  /* left: 163px; */
}

.title-opn{
  padding-bottom: 1rem;
  font-size: 26px;
  width: 100%;
}

.raizes{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  /* justify-content: center; */
  /* position: relative;
  bottom: 108px; */
}

.conteudo-raizes{
  display: flex;
  justify-content: center;
  width: 82%;
}


.rzs{
  width: 88%;
  display: flex;
  /* position: relative;
  right: 81px; */
}



.text-raizes{
  width: 51%;
  background: #9767A9;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  bottom: 126px;
  /* left: 48px; */
}

.title-raizes{
  padding-bottom: 1rem;
}

.fases{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 217px;
}

.conteudo-fases{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  right: 32px;
}

.img-fases{
  width: 88%;
}

.text-fases{
  padding: 1rem;
  width: 58%;
  color: #FFFFFF;
  background: #9767A9;
  position: relative;
  right: 22px;
  bottom: 60px;
}

.title-fases{
  padding-bottom: 1rem;
}

.orgulho{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-orgulho{
  display: flex;
  justify-content: flex-end;
  width: 82%;

}

.img-orgulho{
  width: 88%;

}

.text-orgulho{
  width: 50%;
  padding: 1rem;
  background: #9767A9;
  color: #FFFFFF;
  position: relative;
  bottom: 121px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.title-orgulho{
  padding-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.final-main{
  display: flex;
  width: 100%;
}

.imgs-final{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  width: 90%;
  padding-bottom: 1rem;
}


footer{
  background: #9767A9;
  display: flex;
}


.text-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  width: 54%;
  color: #FFFFFF;
}

.menu-footer{
  display: flex;
  justify-content: center;
  width: 46%;
}

a{
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
}

.imgs-footer{
  width: 31%;
}
