*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
  font-family: 'Montserrat', sans-serif;
} */
header{
display: flex;
justify-content: center;
width: 100%;
position: fixed;
background: #FFFFFF;
z-index: 999;
}

.lgo-cacheado{
width: 127px;
padding: 1rem;
}

.menu-lateral{
  display: none;

}
.list-header{
display: flex;
justify-content: space-around;
width: 54%;
padding: 2rem;
}

.link-header{
width: 100%;
color: #9767A9;
opacity: 0.7;
text-decoration: none;
}
li:hover{
  /* opacity: 1; */
  font-weight: 900;
}

.header-li{
  font-size: 16px;
}

ul{
display: flex;
justify-content: space-around;
width: 93%;
list-style: none;
}


.menu {
  background: #9767A9;
  width: 100%;
  height: 37px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
}




.menu-hamburguer{
  display: none;
}
}



#check {
  display: none;
}

#icone {
  cursor: pointer;
  padding: 32px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.barra {
  background-color: #9767A9;
  height: 54%;
  width: 141px;
  position: fixed;
  transition: all .2s linear;
  left: -250px;

}

nav {
  width: 100%;
  position: absolute;
  top: 80px;
}


nav a {
  text-decoration: none;

}

.Link {
  background-color: #9767A9;
  padding: 20px;
  font-family: 'Gotham';
  font-size: 12pt;
  transition: all .3s linear;
  color: #ffffff;
  border-bottom: 1px solid #9767A9;
  opacity: 0;




}

.Link:hover {
  background-color: #9767A9;
  color: #ffffff;

}

#check:checked~.barra {
  transform: translateX(250px);
}

#check:checked~.barra nav a .Link {
  opacity: 1;
  transition-delay: .3s;
}

#banner1 {
  padding-top: 97px;
  width: 100%;

}



.mburg {

  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 25px;
  left: 25px;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 30px;
  height: 3px;
  top: 29px;
  left: 15px;
  transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #fff;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked~label .hamburguer {
  transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked~label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

#divBusca{
border-radius:29px;
width:138px;
height: 29px;
border: 3px solid #9767A9;
/* border:solid 1px; */
}

#txtBusca::-webkit-input-placeholder{
color: #9767A9;
}

#txtBusca{
padding-left:5px;
font-style:italic;
font-size:10px;
border:none;
height:23px;
width:101px;
outline: none;
}

.lupa{
height: 17px;
float: left;
padding-top: 4px;
padding-left: 4px;
}

.redes-socias{
width: 14%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.logo-redes{
width: 33px;
}

.barra-buscar{
  display: flex;
  align-items: center;
}



.cabeludo{
background-image: url(img/cabeludo.png);
width: 100%;
height: 64vh;
/* background-size: contain; */
display: flex;
background-size: cover;
background-repeat: no-repeat;
font-family: ;
}

.title{
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: flex-end;
width: 34%;
}

h1{
width: 56%;
display: flex;
height: 84%;
justify-content: center;
align-items: center;
color: #FFFFFF;
font-size: 5rem;
font-family: ;
}

.sub-title{
display: flex;
width: 47%;
justify-content: flex-end;
align-items: center;
}

.subtitle-cabeludo{
display: flex;
width: 49%;
height: 30%;
align-items: center;
font-size: 2rem;
color: #FFFFFF;
justify-content: flex-end;
flex-direction: column;
}

main{
  width: 100%;
}

.fundo-roxo{
  display: flex;
  background: #9767A9;
  height: 35vh;
  justify-content: center;
}

.text-main{
  display: flex;
  width: 47%;
  font-size: 20px;
  justify-content: center;
  /* justify-content: center; */
  color: #FFFFFF;
  padding: 1rem;
}

.title-main{
  width: 99%;
  font-size: 3rem;
}

.paragraph-main{
  padding-top: 2rem;
  color: #FFFFFF;
  width: 45%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */

  
}

.paragraph-motivacional{
  font-size: 18px;
  width: 73%;
}

.fotos{
  position: relative;
  bottom: 127px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* height: 161vh; */
}

.conteudo-espelho{
  /* position: relative;
  bottom: 32px;
  left: 111px; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-espelho{
  display: flex;
  justify-content: flex-end;
  width: 82%;
}

.no-espelho{
  width: 88%;
  /* padding: 1rem; */
}

.text-espelho{
  background: #9767A9;
  width: 57%;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 80px;
  padding: 1rem;
  left: 33px;
  color: #FFFFFF;
}

.title-espelho{
  width: 85%;
  padding-bottom: 1rem;
  font-size: 2rem;

}

.paragraph-espelho{
  width: 100%;
  font-size: 14px;
}

.referencias{
  width: 50%;
  position: relative;
  top: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* right: 76px; */
  /* bottom: 124px; */
  /* height: 70vh; */
}

.img-referencias{
  display: flex;
  width: 82%;
  /* justify-content: center;
  align-items: center;
  position: relative;
  top: 124px; */
}

.referencias-img{
  width: 88%;
  display: flex;
}

.text-referencias{
  background: #9767A9;
  width: 58%;
  padding: 1rem;
  position: relative;
  bottom: 109px;
  right: 29px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;

  /* left: 171px; */
  /* top: 22px; */
}

.title-refe{
  width: 85%;
  font-size: 2rem;
}

.paragraph-refe{
  padding-top: 1rem;
}

.detalhes{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* left: 111px; */
  /* position: relative; */
}

.conteudo-detalhes{
  display: flex;
  justify-content: center;
  width: 82%;
}

.det{
  width: 88%;
}

.text-detalhe{
  background: #9767A9;
  color: #FFFFFF;
  position: relative;
  bottom: 106px;
  padding: 1rem;
  width: 49%;
  display: flex;
  flex-direction: column;
  /* left: 35px; */
  /* right: 9px; */
}

.title-detalhe{
  width: 78%;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.opinioes{
  width: 50%;
  position: relative;
  top: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-opinioes{
  display: flex;
  width: 82%;
  /* justify-content: center;
  align-items: flex-end;
  height: 82vh;
  position: relative;
  left: 36px;
  bottom: 112px; */
}

.opn{
  width: 88%;
}

.text-opinioes{
  width: 52%;
  background: #9767A9;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  bottom: 20px;
  right: 26px;
  color: #FFFFFF;
  /* left: 163px; */
}

.title-opn{
  padding-bottom: 1rem;
  font-size: 26px;
  width: 100%;
}

.raizes{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  /* justify-content: center; */
  /* position: relative;
  bottom: 108px; */
}

.conteudo-raizes{
  display: flex;
  justify-content: center;
  width: 82%;
}


.rzs{
  width: 88%;
  display: flex;
  /* position: relative;
  right: 81px; */
}



.text-raizes{
  width: 51%;
  background: #9767A9;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  bottom: 126px;
  /* left: 48px; */
}

.title-raizes{
  padding-bottom: 1rem;
}

.fases{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 217px;
}

.conteudo-fases{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  right: 32px;
}

.img-fases{
  width: 88%;
}

.text-fases{
  padding: 1rem;
  width: 58%;
  color: #FFFFFF;
  background: #9767A9;
  position: relative;
  right: 22px;
  bottom: 60px;
}

.title-fases{
  padding-bottom: 1rem;
}

.orgulho{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-orgulho{
  display: flex;
  justify-content: flex-end;
  width: 82%;

}

.img-orgulho{
  width: 88%;

}

.text-orgulho{
  width: 50%;
  padding: 1rem;
  background: #9767A9;
  color: #FFFFFF;
  position: relative;
  bottom: 121px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.title-orgulho{
  padding-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.caminho{
  width: 50%;
}

.conteudo-caminho{
  display: flex;
}

.caminho-img{
  width: 88%;
}

.final-main{
  display: flex;
  width: 94%;
  margin: auto;
}

.imgs-final{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-imgs{
  width: 90%;
  padding-bottom: 1rem;
}


footer{
  background: #9767A9;
  display: flex;
  height: 12vh;
}


.text-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  width: 54%;
  color: #FFFFFF;
}

.menu-footer{
  display: flex;
  justify-content: center;
  width: 46%;
}

a{
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
}

.imgs-footer{
  width: 31%;
  margin-right: 1rem;
}

.setas{
  display: none;
}

.box-footer{
  display: flex;
  width: 100%;
}
@media (max-width: 1400px){

  .title-detalhe{
    width: 83%;
  }
  .title-main{
    width: 98%;
  }

  .text-main{
    width: 49%;
  }
  
  .sub-title{
    width: 48;
  }
}


@media (max-width: 1369px){
   h1{
     width: 60%;
   }

   .title{
     width: 40%;
   }

   .sub-title{
     width: 41%;
   }

   .subtitle-cabeludo{
    width: 56%;
   }
   
   .text-main{
    width: 49%;
   }

   .title-main{
    width: 100%
   }

   .paragraph-main{
     align-items: center;
   }

   .title-espelho{
     width: 90%;
   }
  
   .title-detalhe{
     width: 84%;
   }

   .text-footer{
     width: 55%;
   }

   .title-espelho{
     width: 90%;
   }
} 

@media (max-width: 1320px){
  .text-main{
    width: 51%;
  }

  .sub-title{
    width: 46%;
  }

  .text-footer{
    width: 65%;
  }

  .text-detalhe{
    width: 50%;
  }

  .title-detalhe{
    width: 87%;
  }

  .text-opinioes{
    width: 55%;

  }
}

@media (max-width: 1294px){
  .title-espelho{
    width: 96%;
  }
  .sub-title{
    width: 49%;
  }

  .subtitle-cabeludo{
    width: 55%;
  }
}

@media (max-width: 1268px){
  .text-main{
    width: 53%;
  }

  .title-detalhe{
    width: 91%;
  }

  .text-opinioes{
    width: 57%;
    right: 19px;
  }
  .sub-title{
    width: 51%;
  }

  .text-footer{
    width: 73%;
  }
}


@media (max-width: 1220px){
  .text-main{
    width: 55%;
  }
 
  .title-espelho{
    width: 100%;
  }

  .title-refe{
    width: 100%;
  }

  .title-detalhe{
    width: 95%;
  }

  .sub-title{
    width: 53%;
  }

  .subtitle-cabeludo{
    width: 52%;
  }
}

@media (max-width: 1197px){
  .title-opn{
    font-size: 21px;
    width: 100%;
  }

  .title-main{
    font-size: 2rem;
    width: 68%;
  }

  .title-espelho{
    font-size: 21px;
    width: 68%;
  }
}

@media (max-width: 1154px){
  .title-main{
    width: 71%;
  }

  .title-detalhe{
    width: 100%;
  }

  .title-espelho{
    width: 71%;
  }

  .subtitle-cabeludo{
    width: 49%;
  }

  .sub-title{
    width: 56%;
  }

  .text-main{
    width: 55%;
  }

  .title-main{
    width: 71%;
  }
  
  .title-detalhe{
    width: 100%;
  }
}

@media (max-width: 1112px){
  .cabeludo{
    height: 51vh;
  }

  .sub-title{
    width: 42%;
  }

  .subtitle-cabeludo{
    width: 67%;
  }

  h1{
    font-size: 3rem;
  }

  .text-main{
    width: 58%;
  }

  .title-espelho{
    width: 74%;
  }

  .title-detalhe{
    width: 69%;
    font-size: 21px;
  }

  .title-main{
    width: 72%;
  }
}

@media (max-width: 1067px){
  .title-main{
    width: 75%;
  }

  .title-refe{
    font-size: 21px;
  }

  .title-espelho{
    width: 78%;
  }

  .title-detalhe{
    width: 73%;
  }
}

@media (max-width: 1031px){
  .sub-title{
    width: 49%;
  }
  .subtitle-cabeludo{
    width: 65%;
  }

  .title-main{
    width: 78%;
  }

  .fundo-roxo{
    height: 35vh;
  }
}

@media (max-width: 1024px){
  .list-header{
    padding: 0;
  
  }

  .fundo-roxo{
    height: 58vh;
  }
  .text-main{
    width: 66%;
  }

  .title-main{
    width: 60%;
    font-size: 26px;
  }

  .title-espelho{
    width: 70%;
    font-size: 18px;
  }

  .title-refe{
    font-size: 18px;
  }

  .title-detalhe{
    font-size: 18px;
    width: 65%;
  }

  .title-opn{
    font-size: 18px;
  }

  .title-refe{
    font-size: 18px;
  }

  .title-fases{
    font-size: 18px;
  }

  .title-orgulho{
    font-size: 18px;
  }
}

@media (max-width: 985px){
  .title-main{
    width: 61%;
  }

  .barra-buscar{
    display: none;
  }

  .list-header{
    width: 64%;
  }

  .sub-title{
    width: 50%;
  }

  .fundo-roxo{
    height: 53vh;
  }
  .fotos{
    flex-direction: column;
  }

  .conteudo-espelho{
    position: relative;
    top: 130px;
  }

  .text-espelho{
   bottom: 0;
   left: 33px;
   top: 1rem;
   height: 54vh;

  }

  .subtitle-cabeludo{
    width: 73%;
  }

  .img-referencias{
    justify-content: flex-end;
  }

  .refencias-img{
   
  }

  .text-referencias{
   bottom: 0;
   right: 0;
   top: 1rem;
   height: 57vh;
   left: 22px;
  }

  .detalhes{
    position: relative;
    top: 75px;

  }

  .conteudo-detalhes{
    position: relative;
    top: 214px;
  }

  .text-detalhe{
    bottom: 0;
    top: 14rem;
    height: 47vh;
  }

  .opinioes{
    position: relative;
    top: 216px;
  }

  .conteudo-opinioes{
    justify-content: flex-end;
  }

  .text-opinioes{
    right: 0;
    top: 1rem;
    height: 53vh;
    left: 25px;
  }

  .raizes{
    position: relative;
    top: 213px;
  }

  .conteudo-raizes{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 136px;
  }

  .text-raizes{
    bottom: 0;
    top: 9rem;
    left: 18px;
    height: 57vh;
  }
  


  .conteudo-fases{
   justify-content: flex-end;
  }

  .text-fases{
    right: 0;
    bottom: 0;
    top: 1rem;
    height: 47vh;
  }

  .orgulho{
   position: relative;
   top: 222px;
  }

  .conteudo-orgulho{
    
  }

  .text-orgulho{
    bottom: 0;
    top: 1rem;
    height: 57vh;
  }

  .caminho{
    position: relative;
    top: 508px;
  }

  .final-main{
    position: relative;
    top: 68vh;
  }

  footer{
    position: relative;
    top: 67vh;
  }
  
}

@media (max-width: 966px){
  .title-espelho{
    width: 75%;
  }

  .title-detalhe{
    width: 70%;
  }
  .fundo-roxo{
    display: block;
  }
  
  .text-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 168px;
    width: 100%;
  }

  .title-main{
    width: 73%;
  }

  .paragraph-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .subtitle-cabeludo{
    width: 59%;
  }

  .text-detalhe{
    width: 64%;
  }

  .title-detalhe{
    width: 52%;
  }

  .text-opinioes{
    width: 67%;
  }

  .text-raizes{
    width: 72%;
    height: 47vh;
  }

  .text-orgulho{
    width: 73%;
    left: 26px;
  }

  .sub-title{
  width: 59%;
}

.subtitle-cabeludo{
  width: 62%;
}

.title-main{
  width: 72%;
}

.opinioes{
  top: 325px;
}

.raizes{
  top: 221px;
}

.fases{
  top: 384px;
}

.orgulho{
  top: 415px;
}
  
}

@media (max-width: 918px){
  .imgs-footer{
    display: none;
  }
  .menu-footer{
    display: none;
  }

  .setas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 21%;

  }

  .primeira-seta{
    background: #9767A9;
    border-radius: 50%;
  }
  
  .segunda-seta{
    background: #9767A9;
    border-radius: 50%;
  }

  .terceira-seta{
    background: #9767A9;
    border-radius: 50%;
  }

  .text-footer{
    color: #9767A9;
  }
  
  .box-footer{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
  }
  .conteudo-espelho{
    height: 73vh;
  }

  .text-espelho{
    width: 83%;
    height: 32vh;
  }

  .referencias{
    height: 74vh;
  }

  .text-referencias{
    width: 90%;
    height: 40vh;
  }

  .detalhes{
    height: 88vh;
  }

  .text-detalhe{
    width: 90%;
    height: 32vh;
  }

  .opinioes{
    height: 67vh;
  }

  .text-opinioes{
    width: 89%;
    height: 32vh;
  }

  .raizes{
    height: 95vh;
  }

  .text-raizes{
    width: 90%;
  }

  .fases{
    height: 77vh;
  }

  .text-fases{
    width: 90%;
    height: 37vh;
  }

  .orgulho{
    height: 72vh;
  }

  .text-orgulho{
    width: 89%;
    height: 37vh;
  }


.paginas{
    display: flex;
    justify-content: space-evenly;
    width: 43%;
  }

  .box-footer{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .text-footer{
    padding-top: 1rem;
  }

  .paginas{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }

  .setas{
    width: 55%;
  }
}
@media (max-width: 793px){
  .redes-socias{
    display: none;
  }

  .list-header{
    width: 73%;
  }
  
  .sub-title{
    width: 79%;
  }
  .paginas{
    display: flex;
    justify-content: space-evenly;
    width: 43%;
  }

  .box-footer{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .text-footer{
    padding-top: 1rem;
  }

  .paginas{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }

  .setas{
    width: 55%;
  }

@media (max-width: 705px){
  .cabeludo{
    flex-direction: column;

  }

  .title{
    height: 41vh;
    width: 41%;
}

.sub-title{
  justify-content: center;
}

.menu-hamburguer{
  display: block;
}

.list-header{
  display: none;
}

.menu{
  width: 20%;
  height: 84px;
}

.barra{
  width: 50%;
  width: 122px;
}

.box-footer{
  height: 40vh;
}

.subtitle-cabeludo{
  width: 62%;
}

h1{
  font-size: 2rem;
}

.title{
  width: 63%;
  height: 41vh;
}

}